@use "../../styles/partials/colors";
@use "../../styles/partials/fonts";
@use "../../styles/partials/mixins";
@use "../../styles/partials/global";

.details {

&__title-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.01rem solid colors.$secondary-cloud  ;
}
&__title-row1 {
    width: 85%;
    display: flex;
    padding-left: 1rem;
}
&__title {
    padding-left: 0.5rem;
}
&__title-row2 {
    width: 15%;
    padding-left: 0.5rem;
}

&__address {
    border-bottom: 0.01rem solid colors.$secondary-cloud;
}
&__address-box {
    margin-left: 2rem;
}
&__address-title {
    font-size: 0.6875rem;
    color: colors.$secondary-slate;
    font-weight: bold;
    margin-bottom: 0;
}
&__address-location {
    font-size: 0.8125rem;
    margin-top: 0;
}

&__manager {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
&__manager-contact,
&__contact-info {
    font-size: 0.6875rem;
    color: colors.$secondary-slate;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

&__manager-name,
&__manager-title,
&__contact-number,
&__contact-email {
    font-size: 0.8125rem;
    margin: 0;
}

&__inventory {
    display: flex;
   flex-wrap: wrap;
   padding-left: 2rem;
   margin-bottom: 1rem;
   border-bottom: 0.01rem solid colors.$secondary-cloud;
   width: 100%;
}
&__inventory-box{
    width: 50%;
    padding-left: 1rem;
}
&__inventory-title,
&__category,
&__inventory-status,
&__quantity {
    font-size: 0.6875rem;
    color: colors.$secondary-slate;
    font-weight: bold;
}

&__inventory-item {
    color: colors.$primary-indigo;
    font-size: 0.8125rem;
    font-weight: bold;
}

&__inventory-message {
    background-color: rgba(21, 132, 99, 0.07);
    color: colors.$support-green;
    height: 1.5rem;
    width: 5rem;
    font-size: 0.8125rem;
    font-weight: bold;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 1.25rem;
}
&__category-item,
&__quantity-item {
    font-size: 0.8125rem;
}
&__inventory-item,
&__inventory-message,
&__category-item,
&__quantity-item {
    margin-top: 0;
}

&__item-box {
    display: flex;
}

&__inventory-title,
&__inventory-status,
&__category,
&__quantity{
    margin-bottom: 0;
}

&__inventory-box{
    display: block;
    padding-left: 0;
}

&__inventory-icon {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    margin-bottom: 1rem;   
}
&__edit-icon {
    margin-right: 1rem;
}

}