/*Primary Colors */
/* Secondary Colors */
/* Background colors */
/* Supporting colors */
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Titillium Web Bold";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
/*Global Styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Titillium Web";
}

.main-container {
  margin: -3rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0px 2px 5px #5C667E;
  border-radius: 3px;
  background-color: #FFFFFF;
}
@media (min-width: 1020px) {
  .main-container {
    max-width: 1020px;
    margin: -3rem auto;
  }
}

.main-heading {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .main-heading {
    border-bottom: 1px solid #BDC5D5;
    padding: 1rem 2rem;
  }
}
.main-heading__nav-link {
  margin-right: 1rem;
  padding: 0;
}
.main-heading__nav-icon {
  margin: 0;
  padding: 0;
  height: 1.75rem;
  width: auto;
}

.inventory-form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .inventory-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
}
.inventory-form__section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 1;
  border: none;
  border-top: 1px solid #BDC5D5;
  padding: 1rem 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .inventory-form__section {
    flex-basis: 49%;
    border-top: 0;
    padding: 0 2rem;
    margin: 1rem 0 2rem 0;
  }
}
@media (min-width: 768px) {
  .inventory-form__section--details {
    border-right: 1px solid #BDC5D5;
  }
}
.inventory-form__label {
  display: block;
  color: #13182C;
  margin: 0.5rem 0;
}
.inventory-form__input {
  display: block;
  width: 100%;
  height: 2rem;
  margin-top: 0.5rem;
  border-radius: 20px;
  border: 1px solid #BDC5D5;
  line-height: 2rem;
  padding: 0 1rem;
  font-family: "Titillium Web";
}
.inventory-form__input:active, .inventory-form__input:focus {
  border: 1px solid #2E66E5;
  outline: none;
}
.inventory-form__input--textarea {
  height: 8rem;
  font-size: 0.9rem;
  word-wrap: break-word;
  resize: vertical;
}
.inventory-form__input--select {
  background-color: #FFFFFF;
  cursor: pointer;
}
.inventory-form__input--invalid {
  border-color: #C94515;
}
.inventory-form__radio {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0.5rem 0;
}
.inventory-form__radio-label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 2rem;
  cursor: pointer;
}
.inventory-form__radio-button {
  accent-color: #2E66E5;
}
.inventory-form__error {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.inventory-form__error-icon {
  height: 1rem;
  margin-right: 0.5rem;
}
.inventory-form__error-message {
  margin: 0;
  font-size: 0.9rem;
  color: #C94515;
}
.inventory-form__button-wrapper {
  background-color: #F7F8F9;
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem;
  gap: 1rem;
}
@media (min-width: 768px) {
  .inventory-form__button-wrapper {
    flex-basis: 100%;
    padding: 1rem 2rem;
  }
}
.inventory-form__button {
  flex-basis: 50%;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .inventory-form__button {
    flex-basis: auto;
    padding: 0.5rem 2rem;
  }
}
.inventory-form__button--cancel {
  background-color: #FFFFFF;
  border: 1px solid #BDC5D5;
}
.inventory-form__button--CTA {
  background-color: #2E66E5;
  color: #FFFFFF;
  border: 1px solid #2E66E5;
}
.inventory-form__button--CTA:disabled {
  border-color: #BDC5D5;
  background-color: #F7F8F9;
  color: #BDC5D5;
  cursor: not-allowed;
}/*# sourceMappingURL=AddNewInventory.css.map */