@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0 1.5rem 0;
    color: colors.$secondary-slate;

    span {
        font-size: 0.8rem;
    }
}